<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <header style="display: flex">
      <h1>Members Only</h1>
      <nav>
        <% if (currentUser) {%>
        <a href="/log-out"> <button>Log Out</button></a>
        <% } else { %>
        <a href="/sign-up"><button>Sign Up</button></a>
        <a href="/log-in"><button>Log In</button></a>
        <%}%>
      </nav>
    </header>
    <main>
      <div>
        <% if (currentUser && (currentUser.member_status === "member" ||
        currentUser.member_status === "admin")) {%>
        <button onclick="location.href='/message'">New Message</button>
        <%}%>
      </div>
      <section>
        <% messages.forEach((message) => { %>
        <article>
          <h5><%= message.title %></h5>
          <p><%= message.text %></p>
          <% if (currentUser && (currentUser.status === "member" ||
          currentUser.status === "admin")) {%>
          <h6><%= message.date_formated %></h6>
          <h6><%= message.user %></h6>
          <%}%>
        </article>
        <% })%>
      </section>
    </main>
  </body>
</html>
