<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Members Only</h1>
      <nav>
        <% if (currentUser) {%>
        <a href="/log-out"> <button>Log Out</button></a>
        <a href="/join"><button>Join the club</button></a>
        <% } else { %>
        <a href="/sign-up"><button>Sign Up</button></a>
        <a href="/log-in"><button>Log In</button></a>
        <%}%>
      </nav>
    </header>
    <main>
      <div id="message-button-container">
        <% if (currentUser && (currentUser.member_status === "member" ||
        currentUser.member_status === "admin")) {%>
        <button onclick="location.href='/message'">New Message</button>
        <%}%>
      </div>
      <div>
        <% messages.forEach((message) => { %>
        <article>
          <h5>Tltle: <%= message.title %></h5>
          <p>Message: <%= message.text %></p>
          <div class="card-footer">
            <h6>
              Author: <% if (currentUser && (currentUser.member_status ===
              "member" || currentUser.member_status === "admin")) {%> <%=
              message.user %> <% } else { %> ******** <%}%>
            </h6>
            <h6>
              Date: <% if (currentUser && (currentUser.member_status ===
              "member" || currentUser.member_status === "admin")) {%> <%=
              message.date_formated %> <% } else { %> ******** <%}%>
            </h6>
          </div>
        </article>
        <% })%>
      </div>
    </main>
  </body>
</html>
