<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <h1>Members Only Login</h1>
    <form action="/log-in" method="POST">
      <label for="username">username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="username"
        required
      />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        required
      />
      <button>Log In</button>
    </form>
  </body>
</html>
