<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Members Only Login</h1>
    <form action="/log-in" method="POSt">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username" />
      <label for="lastname">Lastname</label>
      <input type="text" name="lastname" placeholder="lastname" />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="email" />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <button>Log in</button>
    </form>
  </body>
</html>
