<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Members Only</h1>
      <nav>
        <a href="/"><button>Home</button></a>
        <% if (currentUser) {%>
        <a href="/user/log-out"> <button>Log Out</button></a>
        <a href="/user/join"><button>Join the club</button></a>
        <% } else { %>
        <a href="/user/sign-up"><button>Sign Up</button></a>
        <a href="/user/log-in"><button>Log In</button></a>
        <%}%>
      </nav>
    </header>
    <form action="/user/sign-up" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username" required />
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="email"
        required
      />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        required
      />
      <label for="passwordConfirmation">Confirm password</label>
      <input
        type="password"
        name="passwordConfirmation"
        id="passwordConfirmation"
        placeholder="password"
        required
      />
      <button>Sign Up</button>
    </form>
    <div>
      <% if (errors) {%>
      <ul>
        <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
        <% })%>
      </ul>
      <%}%>
    </div>
  </body>
</html>
